<!-- Home section -->
<section id="home" class="section">
    <img src="pics/TH-second section.jpg" alt="Thomas Intro" class="hero-img" />
    <div class="home-center-content">
        <div class="home-center-text">GREAT DANE COACHING</div>
        <div class="home-center-text1">SUCCESSFUL MANAGEMENT WITH MEANING</div>
        <button class="home-center-button" type="button">Click here</button>
    </div>
</section>

<section id="coloregolden" class="section"></section>
<section id="colorewhite" class="section"></section>