# Dependencies
node_modules/

# Build output
dist/
publish.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json

# Env files
.env
.env.local
